element.style {
    padding-left: 0%;
}

.App-logo {
    height: 40vmin;
}

.btn-link {
    color: #4CBCB3;
}

.imagenfondo {
    background-image: url(../images/logoparafondo10.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1140;
    height: auto;
    background-color: transparent;
    /*opacity: 30%;*/
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}

.App-header {
    position: absolute;
    left: 0;
    padding: 0 250px;
    padding-bottom: 20px;
    background: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.774);
    width: 100%;
    box-sizing: border-box;
}

.headerElement {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

.activeHeader {
    border-bottom: 2px solid #2E2E2E;
}

.color-nav {
    background: rgb(189, 121, 43);
    padding-bottom: 0px;
    transition: 0.5s;
}

.font-size {
    font-size: 11pt;
}

h5 {
    font-size: 15pt;
}

h3 {
    padding: 0 0 6% 0;
}

p,
label {
    font-size: 12pt;
}

.Espaciados {
    padding: 8% 0 3% 0;
}

.seccion-inicio {
    background-color: #F2F2F2;
    font-size: 15pt;
    color: #2E2E2E;
    text-align: center;
}

.inicio-logo {
    width: 300px;
    height: auto;
}

.requisitos-logo {
    width: 150px;
    margin-left: 20%;
}

.card-body {
    padding: 8px 22px 10px;
}

.fondo {
    opacity: 0.8;
}

.cardtamaño {
    width: 14rem;
    background: transparent ! important;
}

.cardtamaño2 {
    width: 18rem;
    background: transparent ! important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: unset;
    border: none;
}

.frmsize {
    margin-top: 30%;
    margin-bottom: 30%;
}

.App-Formulario {
    font-size: 15pt;
    padding: 3% 10% 10%;
    text-align: left;
}

.boton {
    padding: 5px 100px 5px;
    background: #F1414E;
    border-color: #F1414E;
}

.botoncards {
    padding: 5px 60px 5px;
    background: #F1414E;
    border-color: #F1414E;
}

.contenedor-tarjetas {
    background-color: #F2F2F2;
    text-align: center;
    font-size: 15pt;
    padding-top: 5%;
    padding-bottom: 3%;
    color: #2E2E2E;
}

.tarjetas {
    padding-bottom: 3%;
}

.tarjetas-img {
    width: 50%;
    height: auto;
    padding-top: 10%;
    padding-left: 20%;
    margin-left: 15%;
}

.myImage {
    width: 1750px;
    height: 600px;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.App-footer {
    background-color: #2E2E2E;
    color: #E1E0DE;
    padding: 10%;
}

.logo-footer {
    margin-top: 20px;
    display: flex;
}

.logo-footer img {
    width: 36px;
    height: 36px;
    margin-right: 5%;
}

.App-Sfooter {
    height: auto;
    background-color: black;
    color: #E1E0DE;
    font-size: 13pt;
}


/*tarjetas hover redonditas*/

.flip-card {
    background-color: transparent;
    width: 239px;
    height: 239px;
    background-color: #F2F2F2;
    perspective: 1000px;
    padding: 0 10px 0 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    background-color: #F77E79;
    color: white;
    border-radius: 50%;
    transform: rotateY(180deg);
    padding: 40% 2% 2% 2%;
}

@media screen and (max-width: 988px) {
    .font-size {
        font-size: 13pt;
    }
    .App-header {
        padding-right: 10%;
        padding-left: 10%;
    }
    .requisitos-logo {
        width: 180px;
        height: auto;
        margin-left: 20%;
    }
    .activeHeader {
        border-bottom: unset;
    }
    .headerElementr {
        padding-left: 9px;
        padding-right: 9px;
    }
    .App-Formulario {
        padding: 10%;
    }
    p,
    label {
        font-size: 10pt;
    }
    .row {
        margin-left: 15px;
        margin-right: 15px;
    }
    .cardtamaño2 {
        width: 14rem;
    }
    .ocultar {
        display: none;
    }
    .form-control {
        width: auto;
    }
}